# Importing data set

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
data = df = pd.read_csv('/home/rajan/Desktop/EDA task/data0/aug_test.csv')

In [4]:
data.isnull().sum()

enrollee_id                 0
city                        0
city_development_index      0
gender                    508
relevent_experience         0
enrolled_university        31
education_level            52
major_discipline          312
experience                  5
company_size              622
company_type              634
last_new_job               40
training_hours              0
dtype: int64

In [10]:
#first find the datatype of several features
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2129 entries, 0 to 2128
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             2129 non-null   int64
 1   city                    2129 non-null   object
 2   city_development_index  2129 non-null   float64
 3   gender                  2129 non-null   object
 4   relevent_experience     2129 non-null   object
 5   enrolled_university     2098 non-null   object
 6   education_level         2077 non-null   object
 7   major_discipline        1817 non-null   object
 8   experience              2124 non-null   object
 9   company_size            1507 non-null   object
 10  company_type            1495 non-null   object
 11  last_new_job            2089 non-null   object
 12  training_hours          2129 non-null   int64
dtypes: float64(1), int64(2), object(10)
memory usage: 216.4+ KB

In [7]:
data['gender'].mode()[0]

'Male'

In [8]:
data['gender']= data['gender'].fillna(data['gender'].mode()[0])

In [9]:
data.isnull().sum()

enrollee_id                 0
city                        0
city_development_index      0
gender                      0
relevent_experience         0
enrolled_university        31
education_level            52
major_discipline          312
experience                  5
company_size              622
company_type              634
last_new_job               40
training_hours              0
dtype: int64

In [11]:
data['enrolled_university']= data['enrolled_university'].fillna(data['enrolled_university'].mode()[0])

In [13]:
data.groupby('education_level').size()

education_level
Graduate          1269
High School        222
Masters            496
Phd                 54
Primary School      36
dtype: int64

In [14]:
data['education_level']= data['education_level'].fillna(data['education_level'].mode()[0])

In [15]:
data.groupby('major_discipline').size()

major_discipline
Arts                 17
Business Degree      37
Humanities           80
No Major             22
Other                40
STEM               1621
dtype: int64

In [16]:
data['major_discipline']= data['major_discipline'].fillna(data['major_discipline'].mode()[0])

In [17]:
data.isnull().sum()

enrollee_id                 0
city                        0
city_development_index      0
gender                      0
relevent_experience         0
enrolled_university         0
education_level             0
major_discipline            0
experience                  5
company_size              622
company_type              634
last_new_job               40
training_hours              0
dtype: int64

In [18]:
data.groupby('company_size').size()

company_size
10/49        172
100-500      318
1000-4999    143
10000+       217
50-99        338
500-999       88
5000-9999     68
<10          163
dtype: int64

In [34]:
data['company_size']= data['company_size'].fillna(data['company_size'].mode()[0])

In [35]:
data['company_type']= data['company_type'].fillna(data['company_type'].mode()[0])

In [36]:
data['last_new_job']= data['last_new_job'].fillna(data['last_new_job'].mode()[0])

In [38]:
data['experience']= data['experience'].fillna(data['experience'].mode()[0])

In [39]:
data.isnull().sum()

enrollee_id               0
city                      0
city_development_index    0
gender                    0
relevent_experience       0
enrolled_university       0
education_level           0
major_discipline          0
experience                0
company_size              0
company_type              0
last_new_job              0
training_hours            0
dtype: int64